<app-top [type] = 2></app-top>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <app-status-pacote></app-status-pacote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4 itens">
            <div class="row">
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 1></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 2></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 3></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 4></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 5></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 6></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 7></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 8></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 9></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 10></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 11></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 12></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 13></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 14></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 15></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 16></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 17></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 18></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 19></app-btn-item></div>
                <div class="col-md-3 col-3 mt-4"><app-btn-item [numero] = 20></app-btn-item></div>
            </div>
        </div>
    </div>
</div>