<app-top [type] = 2></app-top>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <app-produto></app-produto>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <app-status-video></app-status-video>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-6 offset-md-4">
            <app-status-pacote></app-status-pacote>
        </div>
        <div class="col-md-2 col-6">
            <app-status-pacote></app-status-pacote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-6 offset-md-4">
            <app-status-pacote></app-status-pacote>
        </div>
        <div class="col-md-2 col-6">
            <app-status-pacote></app-status-pacote>
        </div>
    </div>
</div>