<app-top [type] = 1></app-top>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Bem vindo ao curso<br> de Italiano On-line</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <app-produto></app-produto>
        </div>
        <div class="col-md-4">
            <app-produto></app-produto>
        </div>
        <div class="col-md-4">
            <app-produto></app-produto>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <app-produto></app-produto>
        </div>
        <div class="col-md-4">
            <app-produto></app-produto>
        </div>
        <div class="col-md-4">
            <app-produto></app-produto>
        </div>
    </div>
</div>